.box-chat-dashboard {
  position: relative;
  .emoji-picker-wrapper {
    position: absolute;
    bottom: 70px;
    left: 0;
    z-index: 99999999999;
  }
}

.message-body {
  display: flex;
  flex-direction: column;
  img {
    max-width: 300px;
    border-radius: 10px;
  }
}
