.box-chat-dashboard {
  position: relative;
  .emoji-picker-wrapper {
    position: absolute;
    bottom: 70px;
    left: 0;
    z-index: 99999999999;
  }
}

.message-body {
  display: flex;
  flex-direction: column;
  img {
    max-width: 300px;
    border-radius: 10px;
  }
}

.chatinner {
  .imagePreview {
    position: fixed;
    max-width: 150px;
    bottom: 100px;
    right: 80px;
    z-index: 99999999;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    .btn-del-img {
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      cursor: pointer;
    }
  }
}
