.form-wrapper {
  display: flex;
  justify-content: center;
  background-image: url("https://nextskill-academy.onrender.com/src/uploads/bg-register.png");
  height: 80vh;
  align-items: center;
}

.form-content {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;

  padding: 20px;
  border-radius: 7px;
}
